
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

*.dSYM/
*.su


__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

.ipynb_checkpoints/


.vscode/
!.vscode/extensions.json  # 但可以保留推荐插件列表

 
.idea/
*.iml
cmake-build-debug/
cmake-build-release/
Thumbs.db
.DS_Store

/mnt/

/build/
/bin/
/lib/
/out/
/target/


*.zip
*.tar.gz
*.rar
*.7z

data/
*.csv
*.png
*.jpg

.env
.local